---
layout: layouts/_page.njk
title: Home - LexJor 2025
---
<main class="mx-8 my-8 nunito-regular space-y-14">
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">February 7th, 2025</h2>
        <p>After dinner, stop by a local bar to hang out before our wedding. Time and location will be shared on this page closer to the event.</p>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">February 9th, 2025</h2>
        <p>Stop in for light brunch fare in the late morning after our wedding. Time and location will be shared on this page closer to the event.</p>
    </section>
</main>