---
layout: layouts/_page.njk
title: Events - LexJor 2025
---
<main class="mx-8 my-8 nunito-regular space-y-14">
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Friday, February 7th</h2>
        <p>After dinner, stop by <a class="underline" href="https://maps.app.goo.gl/vnvEkmHEjaST49DY6">Drexl</a> from 8 - 10PM to hang out with us before our wedding.</p>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Saturday, February 8th</h2>
        <p>The wedding! See more on our <a class="underline" href="/wedding">wedding page</a>.</p>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Sunday, February 9th</h2>
        <p>Swing by <a class="underline" href="https://maps.app.goo.gl/NtYankwhsaEnZLLY9">Ramsess Art Garden</a> for a Boichik bagel, coffee, and goodbye hug between 10AM and 1PM.</p>
    </section>
</main>