---
layout: layouts/_base.njk
title: Home
---

<div class="playing">
    <h1 class="text-9xl lobster-regular text-white mt-[330px] mx-[400px] text-center drop-shadow">Alexa & Jordan are getting married!</h1>
    {# <p class="absolute bottom-0 right-0 jacques-francois-regular text-6xl text-white p-8">February 8th, 2025</p> #}
</div>


