---
layout: layouts/_base.njk
title: Home - LexJor 2025
---
<div class="flex justify-center items-center">
    <div class="wedding-site">
        <div class="lisbon h-[80px]"></div>
        <header class="flex justify-center">
            <h1 class="px-4 text-5xl md:text-7xl lobster-regular my-8">Alexa &amp; Jordan</h1>
        </header>
        <nav class="mx-8 jacques-francois-regular">
            <ul class="flex justify-center gap-4 md:gap-16">
                <li><a class="underline" href="/">Home</a></li>
                <li><a class="underline" href="/schedule">Schedule</a></li>
                <li><a class="underline" href="/travel">Travel</a></li>
                <li><a class="underline" href="/registry">Registry</a></li>
            </ul>
        </nav>
        <main class="mt-8 jacques-francois-regular">
            {# <div style="aspect-ratio: 3648 / 5472;"> #}
            <div class="tree-kiss-short1" style="aspect-ratio: 3648 / 4621;">
                <div class="flex justify-center pt-8">
                    <a class="block py-4 px-14 rounded-xl text-xl golden-swirl drop-shadow" href="#">
                        RSVP
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
