---
layout: layouts/_page.njk
title: Home - LexJor 2025
---
<main class="mt-8 jacques-francois-regular">
    <div class="tree-kiss">
        <div class="flex justify-center pt-8">
            <a class="block py-3 md:py-4 px-12 md:px-14 rounded-xl text-lg md:text-xl golden-swirl drop-shadow-md hover:drop-shadow-lg focus:drop-shadow-lg transition-all hover:-translate-y-1 focus:-translate-y-1" href="https://lexjor2025.rsvpify.com">
                RSVP
            </a>
        </div>
    </div>
</main>
