---
layout: layouts/_base.njk
title: Save the Date
---

<div class="flex justify-center items-center mt-16">
    <div class="wedding-card">
        <header class="flex justify-center items-center jacques-francois-regular mt-4 mx-4">
            <h1 class="text-6xl">Save the date</h1>
        </header>
        <main class="flex flex-col items-center">
            <p class="text-4xl jacques-francois-regular mt-12">February 8th, 2025</p>
            <div class="slider mt-12">
	            <div class="slide-track">
                    {% for i in range(1,35) %}
                        {% image ["./src/site/images/us/", i, ".webp"] | join , "" %}
                    {% endfor %}
                    {% for i in range(1,35) %}
                        {% image ["./src/site/images/us/", i, ".webp"] | join , "" %}
                    {% endfor %}
                </div>
            </div>
            <p class="px-12 text-xl text-center jacques-francois-regular mt-12">
                For the wedding of <span class="jacques-francois-regular">Alexa & Jordan</span>
                at the <a href="https://oaklandscottishrite.com/" target="_blank" class="underline">Oakland Scottish Rite Center</a>
            </p>
        </main>
    </div>
</div>

