---
layout: layouts/_base.njk
title: Save the Date
---

<div class="flex justify-center items-center mt-16">
    <div class="wedding-card">
        <header class="flex justify-center items-center jacques-francois-regular">
            <h1 class="text-6xl">Save the date</h1>
        </header>
        <main class="flex flex-col items-center">
            <p class="text-4xl">February 8th, 2025</p>
            <div class="pt-12">
                <picture>
                    <img src="/images/us/ocean-kiss.jpg" width="2048" height="1536" alt="Jordan and Alexa sharing a kiss with the ocean in the background">
                </picture>
            </div>
            <p>For the wedding of Alexa & Jordan</p>
            <p>at the <a href="https://oaklandscottishrite.com/" target="_blank" class="underline">Oakland Scottish Rite Center</a></p>
        </main>
    </div>
</div>

