---
layout: layouts/_page.njk
title: Home - LexJor 2025
---
<main class="mx-8 my-8 nunito-regular space-y-14">
    {# <section>
        <h2 class="text-2xl">Saturday February 8th, 2025</h2>
    </section> #}
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Schedule</h2>
        <div class="flex flex-col md:flex-row">
            <div class="flex-1 pb-6 md:pb-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   5 - 7 PM
                </p>
                <p class="md:text-center">
                    Cocktails, passed appetizers, and then our wedding ceremony!
                </p>
            </div>
            <div class="border-b md:border-b-0 md:border-r border-lisbon-green"></div>
            <div class="flex-1 py-6 md:py-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   7 - 8 PM
                </p>
                <p class="md:text-center">
                    Family-style dinner with California-Mexican food.
                </p>
            </div>
            <div class="border-b md:border-b-0 md:border-r border-lisbon-green"></div>
            <div class="flex-1 pt-6 md:pt-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   8 - 11 PM
                </p>
                <p class="md:text-center">
                    Hora and dancing until we have to leave.
                </p>
            </div>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">How to get there</h2>
        <p>
            <a class="underline" href="https://maps.app.goo.gl/UuRYhakBeEs4DDPW6">
                Oakland Scottish Rite Center<br>
                1547 Lakeside Dr.<br>
                Oakland, CA 94612
            </a>
        </p>
        <div>
            <p>To get to the venue:</p>
            <ul class="ml-6 mt-2 space-y-1">
                <li class="list-disc">Use our Lyft code to get a free ride the Kissel to the venue. We'll share this code over email near our wedding day.</li>
                <li class="list-disc">Drive and park in the venue's secure parking lot.</li>
                <li class="list-disc">Take public transit to 12th St. / Oakland BART and walk.</li>
            </ul>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">What to wear</h2>
        <div class="flex">
            <div class="flex-1">
                <p>We suggest cocktail attire, but wear whatever will make you your best self at our wedding!</p>
            </div>
        </div>
    </section>
</main>