---
layout: layouts/_page.njk
title: Home - LexJor 2025
---
<main class="mx-8 my-8 jacques-francois-regular space-y-8">
    <section>
        <h2 class="text-2xl">Friday February 7th, 2025</h2>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">Travel to Venue</h3>
        <div>
            <p class="">
                <a class="underline" href="https://maps.app.goo.gl/UuRYhakBeEs4DDPW6">
                    Oakland Scottish Rite Center<br>
                    1547 Lakeside Dr.<br>
                    Oakland, CA 94612
                </a>
            </p>
        </div>
        <div>
            <p>To get to the venue:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Use our Lyft code to get a free ride from your Oakland hotel to the venue.</li>
                <li class="list-disc">Drive and park in the venue's secure parking lot.</li>
                <li class="list-disc">Take public transit to 12th St. / Oakland BART and walk.</li>
            </ul>
        </div>
    </section>
    <hr>
    <section>
        <h2 class="text-2xl">Saturday February 8th, 2025</h2>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">Travel to Venue</h3>
        <div>
            <p class="">
                <a class="underline" href="https://maps.app.goo.gl/UuRYhakBeEs4DDPW6">
                    Oakland Scottish Rite Center<br>
                    1547 Lakeside Dr.<br>
                    Oakland, CA 94612
                </a>
            </p>
        </div>
        <div>
            <p>To get to the venue:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Use our Lyft code to get a free ride from your Oakland hotel to the venue.</li>
                <li class="list-disc">Drive and park in the venue's secure parking lot.</li>
                <li class="list-disc">Take public transit to 12th St. / Oakland BART and walk.</li>
            </ul>
        </div>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">5PM - Cocktail Hour</h3>
        <div>
            <p>
                Join us for cocktails, beer, wine, or soda and passed hors-d'oeuvres. We'll have live harpist playing and the venue's theatre will be open to explore.
            </p>
        </div>
        <div>
            <p>Food Menu:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Grilled Avocado Tostada</li>
                <li class="list-disc">Mini Sweet Potato Tacos</li>
                <li class="list-disc">Grilled Mushroom Quesadilla</li>
            </ul>
        </div>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">6PM - Ceremony</h3>
        <p>
            Alexa and Jordan get married in the Oakland Scottish Rite theatre.
        </p>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">6:30PM - Dinner</h3>
        <p>
            Family-style dinner in the venue's ballroom.
        </p>
        <div>
            <p>Food Menu:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Braised Chicken Tinga</li>
                <li class="list-disc">Braised Pork Birria Enchiladas</li>
                <li class="list-disc">Roasted Winter Squash with Mole Rojo</li>
            </ul>
        </div>
        <div>
            <p>Dessert Menu:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Dandelion Chocolate's Celebration Cake</li>
            </ul>
        </div>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">8:30PM - Dancing</h3>
        <div>
            <p>
                Dancing kicks off with the hora and continues till the venue says we have to leave.
            </p>
        </div>
        <div>
            <p>Food Menu:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Grafitti pizza!</li>
            </ul>
        </div>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">11PM - Go Home</h3>
        <p>You don't have to go home, but you can't stay here. Thanks for joining us!!</p>
    </section>
    <hr>
    <section>
        <h2 class="text-2xl">Sunday February 10th, 2025</h2>
    </section>
    <section class="ml-8 space-y-6">
        <h3 class="text-xl -ml-8">Travel to Venue</h3>
        <div>
            <p class="">
                <a class="underline" href="https://maps.app.goo.gl/UuRYhakBeEs4DDPW6">
                    Oakland Scottish Rite Center<br>
                    1547 Lakeside Dr.<br>
                    Oakland, CA 94612
                </a>
            </p>
        </div>
        <div>
            <p>To get to the venue:</p>
            <ul class="ml-7 my-2">
                <li class="list-disc">Use our Lyft code to get a free ride from your Oakland hotel to the venue.</li>
                <li class="list-disc">Drive and park in the venue's secure parking lot.</li>
                <li class="list-disc">Take public transit to 12th St. / Oakland BART and walk.</li>
            </ul>
        </div>
    </section>
</main>