---
layout: layouts/_page.njk
title: Travel - LexJor 2025
---
<main class="mx-8 my-8 jacques-francois-regular space-y-8">
    <h2>Hotels</h2>
    <p>We strongly recommend the Kissel Uptown Oakland. We have a discounted room block, which you can access by booking via this link. Please book by January 17th to get the discount.</p>
    <h2>Getting to Oakland | By Air:</h2>
    <p>Oakland International Airport (OAK) is the closest airport, about a 20 minute drive or Bart ride, from the hotel and wedding venue. 
    San Francisco International Airport (SFO) is about a 45 minute drive or Bart ride from the hotel and wedding venue.</p>
</main>
