---
layout: layouts/_page.njk
title: Travel - LexJor 2025
---
<main class="mx-8 my-8 nunito-regular space-y-14">
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Where to stay</h2>
        <div>
            <p>We've booked a discounted room block at the Kissel Uptown Oakland.<br>Book by January 17th to receive the discount.</p>
            <p class="flex justify-start pt-4">
                <a class="block py-1 px-4 rounded-xl border-2 border-lisbon-green transition-all hover:bg-lisbon-green focus:bg-lisbon-green hover:text-white focus:text-white" href="https://www.hyatt.com/en-US/group-booking/OAKUB/G-AZJP">
Book a room</a>
            </p>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">How to get to Oakland</h2>
        <div>
            <p>Oakland International Airport (OAK) is the closest airport. It's about a 20 minute drive or BART ride from the Kissel hotel and wedding venue. San Francisco International Airport (SFO) is also a good option. It's about a 45 minute drive or BART ride from the Kissel hotel and wedding venue.</p>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Things to do in Oakland</h2>
        <div class="grid grid-cols-3">
            <p class="col-span-2">We've noted some of our <a class="underline" href="https://maps.app.goo.gl/nvEyD3DugahZd8g4A">favorite things</a> on Google Maps. Explore the map if you have time to spend around Oakland.</p>
            <a class="block col-span-1" href="https://maps.app.goo.gl/nvEyD3DugahZd8g4A">{% image "./src/site/images/wedding-places.png", "" %}</a>
        </div>
    </section>
</main>
