---
layout: layouts/_page.njk
title: Home - LexJor 2025
---
<main class="mx-8 my-8 nunito-regular space-y-14">
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">February 8th, 2025</h2>
        <div class="flex flex-col md:flex-row">
            <div class="flex-1 pb-6 md:pb-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   5 - 7 PM
                </p>
                <p class="md:text-center">
                    Cocktails, passed appetizers, and our wedding ceremony!
                </p>
            </div>
            <div class="border-b md:border-b-0 md:border-r border-lisbon-green"></div>
            <div class="flex-1 py-6 md:py-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   7 - 8 PM
                </p>
                <p class="md:text-center">
                    Family-style dinner with California-Mexican food.
                </p>
            </div>
            <div class="border-b md:border-b-0 md:border-r border-lisbon-green"></div>
            <div class="flex-1 pt-6 md:pt-0 md:px-2">
                <p class="md:text-center text-lg mb-2">
                   8 - 11 PM
                </p>
                <p class="md:text-center">
                    Hora and dancing until we have to leave.
                </p>
            </div>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Getting there</h2>
        <a class="flex items-center"  href="https://maps.app.goo.gl/UuRYhakBeEs4DDPW6">
            <p class="px-4 block w-56">
                {% image "./src/site/images/oakland-scottish-rite.webp", "" %}
            </p>            
            <p class="flex-grow text-lg underline">
                1547 Lakeside Dr.<br>
                Oakland, CA 94612
            </p>
        </a>
        <div>
            <p>
                If you're staying at the Kissel hotel, we'll share a Lyft code for free rides between the hotel and the venue. If you're local, you can take public transit, take a Lyft, or drive and park in the venue's secure parking lot.
            </p>
        </div>
    </section>
    <section class="space-y-6">
        <h2 class="jacques-francois-regular text-2xl">Attire</h2>
        <p>We suggest cocktail attire, but wear whatever makes you your best self at our wedding!</p>
    </section>
</main>